#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.logo{
  
  height: 32px;
  margin: 16px;
  font-size: 1rem;
  color: #08c;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: sans-serif;
}